/* Font */

@font-face {
  font-family:"PT Sans";
  font-style: normal;
  font-display: swap;

  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family:"PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;

  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

@font-face {
  font-family:"PT Sans";
  font-style: italic;
  font-display: swap;

  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family:"PT Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;

  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

/* Defolt styles */

/* Root */

:root{
  /* Brown color(buttons) patterns */
  --button-brown-defolt-color: #756157;
  --button-brown-hover-color: #615048;
  --button-brown-focus-color: #615048;
  --button-brown-active-color: #756157;

  /* Blue color(buttons, footer-icons, pagination) patterns */
  --button-blue-defolt-color: #82B3D3;
  --button-blue-hover-color: #68A2CA;
  --button-blue-focus-color: #68A2CA;
  --button-blue-active-color: #82B3D3;

  /* Green color(buttons) patterns */
  --button-green-defolt-color: #7DB54F;
  --button-green-hover-color: #6C9E42;
  --button-green-focus-color: #6C9E42;
  --button-green-active-color: #7DB54F;

  /* Basic text color (black) */
  --basic-text-color-black: #000;

  /* Additional text color (white, dark charcoal) */
  --additional-text-color-white: #fff;
  --additional-text-color-charcoal: #333;
}



/* Common properties */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
  background-color: #f2f2f2;
  height: 100%;
}

body{
  font-family: "PT sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: var(--basic-text-color-black);
  background-color: #fff;
  margin: 0;
  padding: 0;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

button,
input{
  font-family: inherit;
}


img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Main Header */
/* Main Logo */

.main-page{
  flex-grow: 1;
}

.main-header{
  font-size: 20px;
  font-weight: 700;
  background-color: #fff;
  color: var(--basic-text-color-black);
  text-transform: capitalize;
  width: 1200px;
  min-height: 65px;
}

.main-header-logo{
  margin-left: 70px;
  position: absolute;
}

.main-page-link{
  display: contents;
}

/* Main Navigation */

.header-navigation{
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0 auto;
}

.header-list{
  list-style-type: none;
  margin: 0;
  margin-left: 169px;
  padding-left: 17px;
  min-width: 390px;
  max-width: 550px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-item{
  margin-right: 34px;
}

.user-menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-width: 264px;
  max-width: 341px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  align-self: center;
  align-items: center;
}

.user-menu-item{
  display: flex;
}

.header-link{
  text-decoration: none;
  color: var(--basic-text-color-black);
  display: block;
  padding: 20px 0 20px 0;
}

.current-header-link{
  position: relative;
}

.current-header-link::before{
  content: '';
  background-color: #756257;
  height: 2px;
  bottom: -1px;
  left: 0;
  right: 0;
  position: absolute;
}

.search{
  min-width: 42px;
}

.search-link{
  padding: 24px 12px;
}

.search-link::before{
  content:"";
  width: 18px;
  height: 18px;
  display: block;
  background-image: url("../images/icon/header-search-icon.svg");
  background-repeat: no-repeat;
}

.favoutire{
  min-width: 42px;
  margin-right: 20px;
  position: relative;
}

.favourite-link{
  padding: 24px 12px;
}

.favourite-link::before{
  content:"";
  width: 18px;
  height: 18px;
  display: block;
  background-image: url("../images/icon/header-favourite-icon.svg");
  background-repeat: no-repeat;
}

.favourite-icon{
  font-size: 10px;
  line-height: 13px;
  padding: 5px 6px;
  border-radius: 50%;
  color: var(--additional-text-color-white);
  background-color: var(--button-green-defolt-color);
  position: absolute;
  top: 16px;
  left: 24px;
}

.header-button-modal{
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--additional-text-color-white);
  background-color: var(--button-brown-defolt-color);
  border: none;
  padding: 9px 15px 8px 15px;
  border-radius: 4px;
  min-width: 160px;
  height: 37px;
  cursor: pointer;
}

.header-button-modal:hover{
  background-color: var(--button-brown-hover-color);
}
.header-button-modal:focus{
  background-color: var(--button-brown-focus-color);
}
.header-button-modal:active span{
  color: rgba(255, 255, 255, 0.3);
}

/* Hero image */

.hero-wrapper{
  background: #000 url(../images/img/background-main.jpg) no-repeat;
  background-size: cover;
  padding: 51px 0 83px 0;
}

.hero-wrapper::after{
  content: url("../images/icon/main-background-divider-icon.svg");
  position: relative;
  display: block;
  top: 91px;
}

.hero-text{
  display: block;
  margin: 0 auto;
}

/* Text After Hero Image */

.advantages-preview-wrapper{
  width: 1200px;
  min-height: 282px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 63px 200px 90px 200px;
}

.main-title{
  margin: 0;
  margin-bottom: 31px;
}

.main-subtitle{
  margin: 0;
}

/* Main */

.title{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.main-title{
  text-align: center;
  text-transform: uppercase;
}

.main-subtitle{
  text-align: center;
  color: var(--additional-text-color-charcoal);
}

/* Advantages Section */

.advantages-item-title{
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-item-subtitle{
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: var(--additional-text-color-charcoal);
  margin: 0;
}

.advantages-panorama-text .advantages-item-title{
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: var(--additional-text-color-white);
}

.advantages-panorama-text .advantages-item-subtitle{
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: var(--additional-text-color-white);
}

.advantages-container,
.advantages-list-wrapper{
  list-style-type: none;
  padding: 0;
}

.advantages-container{
  counter-reset: cards-number;
}

.counter::before{
  display: block;
  margin-bottom: 30px;
  counter-increment: cards-number;
  content: '— №' counter(cards-number) ' — ';
}

.advantages-panorama-text{
  background-color: var(--button-blue-defolt-color);
  width: 400px;
  min-height: 384px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.panorama-text-layout{
  width: 230px;
}

.advantages-item{
  width: 400px;
  min-height: 384px;
  background-color: rgba(131, 179, 211, 0.12);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.advantages-item-text-layout{
  width: 230px;
}

.housing::before{
  content: url("../images/icon/advantages-home-icon.svg");
  display: block;
  margin-bottom: 30px;
}

.food::before{
  content: url("../images/icon/advantages-burger-icon.svg");
  display: block;
  margin-bottom: 30px;
}

.souvenir::before{
  content: url("../images/icon/advantages-souvenir-icon.svg");
  display: block;
  margin-bottom: 30px;
}

.advantages-item:nth-child(4n){
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list-wrapper .advantages-item:nth-child(2n){
  background-color: var(--additional-text-color-white);
}

.advantages-panorama-wrapper{
  margin: 0;
}

.second-block-image{
  order: -1;
}

.advantages-container{
  display: flex;
  flex-flow: row wrap;
  width: 1200px;
  margin: 0;
}

.advantages-panorama-wrapper{
  display: flex;
}

.advantages-list-wrapper{
  display: flex;
  flex-wrap: wrap;
}

/* Modal Section Decoration, Layout */

.hotel-modal{
  width: 1200px;
  min-height: 417px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 91px 200px 93px 200px;
}

.hotel-modal-button{
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  border: none;
  color: var(--additional-text-color-white);
  background-color: var(--button-brown-defolt-color);
  border-radius: 4px;
  cursor: pointer;
}

.hotel-modal-button:hover{
  background-color: var(--button-brown-hover-color);
}
.hotel-modal-button:focus{
  background-color: var(--button-brown-focus-color);
}
.hotel-modal-button:active span{
  color: rgba(255, 255, 255, 0.3);
}

.modal-title{
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.modal-subtitle{
  text-align: center;
  color: var(--additional-text-color-charcoal);
  margin: 0;
  margin-bottom: 56px;
}

.hotel-modal-button{
  width: 574px;
  padding: 12px 15px;
}


/* Mailing Section */

/* Main Page */

.mailing{
  background: #000 url(../images/img/background-mailing.jpg) no-repeat;
  background-size: cover;
  width: 1200px;
  min-height: 411px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 94px 200px;
}

.mailing-title{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: var(--additional-text-color-white);
  margin: 0;
  margin-bottom: 29px;
}

.mailing-subtitle{
  color: var(--additional-text-color-white);
  text-align: center;
  margin: 0;
  margin-bottom: 46px;
}

.mailing-button{
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  padding: 12px 15px;
  border-radius: 0 10px 10px 0;
  text-transform: uppercase;
  border: none;
  color: var(--additional-text-color-white);
  background-color: var(--button-blue-defolt-color);
  cursor: pointer;
}

.mailing-button:hover{
  background-color: var(--button-blue-hover-color);
}
.mailing-button:focus{
  background-color: var(--button-blue-focus-color);
}
.mailing-button:active span{
  color: rgba(255, 255, 255, 0.3);
}

.input-email{
  padding: 0;
  border: none;
  width: 600px;
  height: 60px;
  border-radius: 10px 0 0 10px;
}

.input-email[placeholder]{
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  padding: 20px 22px 19px;
}

.email-form-container{
  margin: 0;
  display: flex;
}

/* Inner Pages */

.mailing-inner{
  background: #fff;
  width: 1200px;
  min-height: 411px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 94px 200px;
}

.mailing-inner-title{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-text-color-black);
  margin: 0;
  margin-bottom: 29px;
}

.mailing-inner-subtitle{
  text-align: center;
  color: var(--additional-text-color-charcoal);
  margin: 0;
  margin-bottom: 46px;
}

.input-email{
  background-color: #F2F2F2;
}


/* Catalog Filter Section */

.hotel-filter{
  background: #000 url(../images/img/background-filter.jpg) no-repeat;
  background-size: cover;;
  font-size: 18px;
  line-height: 21px;
  color: var(--additional-text-color-white);
  width: 1200px;
  padding: 35px 70px 70px 70px;
  margin-bottom: 50px;
}

.hotel-filter-layout{
  width: 1060px;
  margin: 0 auto;
}

.hotel-filter-header{
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.hotel-filter-title{
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 10px;
  gap: 25px;
  gap: 10px;
}

.breadcrumbs-links{
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: inherit;
}

.breadcrumbs-links:hover{
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-links:active{
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item{
  display: flex;
  align-items: center;
  gap: 10px;
}

.breadcrumbs-item:nth-child(2)::before{
  content: '';
  display: block;
  background-image: url(../images/icon/arrow-icon.svg);
  width: 5px;
  height: 8px;
}

.hotel-filter-form{
  display: flex;
}

.leftside,
.rightside{
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  padding: 0;
}

.leftside-group,
.rightside-group{
  border: none;
  margin: 0;
  padding: 0;
}

.leftside-group{
  display: flex;
  flex-direction: column;
}

.optional-group{
  width: 160px;
  margin-right: 70px;
}

.housing-group{
  width: 146px;
  margin-right: 176px;
}

.leftside-group label:not(:nth-of-type(3)){
  margin-bottom: 15px;
}

.leftside{
  margin-bottom: 30px;
}

.rightside-group{
  width: 288px;
  margin-right: 70px;
}

.hotel-filter-buttons{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  justify-content: end;
  gap: 20px;
}

.input{
  margin: 0;
}

/* Catalog Filter Buttons */

.hotel-filter-submit{
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  width: 160px;
  height: 48px;
  padding: 14px 15px;
  border-radius: 4px;
  text-transform: uppercase;
  color: var(--additional-text-color-white);
  background-color: var(--button-blue-defolt-color);
  border: none;
  cursor: pointer;
}

.hotel-filter-submit:hover,
.hotel-filter-submit:focus{
  background-color: var(--button-blue-hover-color);
}

.hotel-filter-submit:active{
  background-color: var(--button-blue-defolt-color);
  color: rgba(255, 255, 255, 0.3);
}

.hotel-filter-reset{
  font-size: 16px;
  line-height: 20px;
  min-width: 65px;
  min-height: 20px;
  border: 3px solid transparent;
  border-radius: 4px;
  background-color: transparent;
  color: var(--additional-text-color-white);
  cursor: pointer;
  align-self: center;
}

.hotel-filter-reset:hover{
  color: rgba(255, 255, 255, 0.6);
}

.hotel-filter-reset:focus{
  color: var(--additional-text-color-white);
  border-color: var(--button-blue-active-color);
}

.hotel-filter-reset:active{
  color: rgba(255, 255, 255, 0.3);
}

/* Catalog Filter Results */
/* Catalog filter Header */

.filter-results-header{
  width: 1057px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 56px;
}

.filter-results-header-title{
  text-transform: uppercase;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  margin-right: 191px;
}

.filter-results-select{
  font-size: 18px;
  font-family: inherit;
  line-height: 21px;
  color: var(--additional-text-color-charcoal);

  min-width: 290px;
  padding: 14px 40px 14px 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;

  appearance: none;
  outline: none;
}

.select-wrapper{
  position: relative;
}

.select-wrapper::after{
  content: '';

  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);

  width: 12px;
  height: 8px;

  background: url(../images/icon/arrow-select-icon.svg) no-repeat;
  pointer-events: none;
}

.filter-results-select:hover,
.filter-results-select:focus{
  border-color: var(--button-blue-hover-color);
}

.filter-results-select:active{
  border-color: #3F5E72;
}

.filter-results-view{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  gap: 8px;
}

.results-item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.view-links{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 12px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.current-view-link{
  border: 2px solid var(--basic-text-color-black);
  border-radius: 4px;
}

.view-links:hover{
  border-color: var(--basic-text-color-black);
}

.view-links:focus{
  border-color: var(--button-blue-focus-color);
}

.view-links:active{
  border-color: var(--basic-text-color-black);
}

.view-links-plate::before{
  content: "";
  background: url("../images/icon/results-filter-all-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.view-links-one::before{
  content: "";
  background: url("../images/icon/results-filter-onebyone-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.view-links-list::before{
  content: "";
  background: url("../images/icon/results-filter-list-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}

/* Result Cards */

.results-card-layout{
  width: 1056px;
  margin: 0 auto;
}

.results-cards{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  gap: 18px;
  margin-bottom: 96px;
}

.card{
  width: 340px;
  padding: 20px;
}

/* Card Layout */

.card-layout{
  width: 300px;
  display: grid;
  gap: 16px 20px;
  grid-template-columns: 140px 140px;
  grid-template-rows: 211px auto auto 37px 37px;
}

.card-image{
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.cards-title{
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
  color: var(--basic-text-color-black);
  margin: 0;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.cards-subtitle{
  font-size: 18px;
  line-height: 21px;
  color: var(--additional-text-color-charcoal);
  margin: 0;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.card-price{
  grid-column: 2 / -1;
  font-weight: normal;
}

.card-link-detail{
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--additional-text-color-white);
  background-color: var(--button-brown-defolt-color);
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}

.card-link-detail:hover,
.card-link-detail:focus{
  background-color: var(--button-brown-hover-color);
}

.card-link-detail:active{
  background-color: var(--button-brown-defolt-color);
  color: rgba(255, 255, 255, 0.3);
}

.button-favourite{
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  color: var(--additional-text-color-white);
  background-color: var(--button-blue-defolt-color);
  grid-column: 2 / -1;
  grid-row: 4 / 5;
  border-radius: 4px;
  cursor: pointer;
}

.button-favourite:hover,
.button-favourite:focus{
  background-color: var(--button-blue-focus-color);
}

.button-favourite:active{
  background-color: var(--button-blue-defolt-color);
  color: rgba(255, 255, 255, 0.3);
}

.card-raiting{
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--additional-text-color-charcoal);
  background-color: #F2F2F2;
  margin: 0;
  grid-column: 2 / -1;
  grid-row: 5 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: default;
  position: relative;
}

.current-button-favourite{
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  color: var(--additional-text-color-white);
  background-color: var(--button-green-defolt-color);
}

.current-button-favourite:hover,
.current-button-favourite:focus{
  background-color: var(--button-green-hover-color);
}

.current-button-favourite:active{
  background-color: var(--button-green-defolt-color);
  color:rgba(255, 255, 255, 0.3);
}


/* Pagination */

.pagination-layout{
  width: 1056px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.pagination-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  min-width: 400px;
  margin-right: 270px;
}

.pagination-item {
  width: 60px;
  height: 60px;
  display: flex;
}

.pagination-links{
  text-decoration: none;
  color: var(--additional-text-color-white);
  border: 1px solid var(--button-blue-defolt-color);
  background-color: var(--button-blue-defolt-color);
  border-radius: 4px;
  padding: 12px 23px;
  display: flex;
  align-items: center;
}

.pagination-links:hover:not(.current-pagination-link),
.pagination-links:focus:not(.current-pagination-link){
  background-color: var(--button-blue-hover-color);
}

.pagination-links:active:not(.current-pagination-link){
  background-color: var(--button-blue-defolt-color);
  color:rgba(255, 255, 255, 0.3)
}

.pagination-item:nth-child(5) .pagination-links{
  padding: 12px 21px;
}

.pagination-item:nth-child(6) .pagination-links{
  padding: 12px 18px;
}

.current-pagination-link{
  border: none;
  background-color: #F2F2F2;
  color: var(--basic-text-color-black);
}

.hotel-amount-label{
  margin: 20px 51px 17px 0;
  min-width: 175px;
}

.hotel-amount{
  min-width: 160px;
  height: 49px;
  padding: 14px 40px 14px 20px;
  align-self: center;

  border: 2px solid #E5E5E5;
  border-radius: 4px;

  outline: none;
  appearance: none;
}

.hotel-amount:hover,
.hotel-amount:focus{
  border-color: var(--button-blue-hover-color);
}

.hotel-amount:active{
  border-color: #3F5E72;
}


.hotel-amount, .hotel-amount-label{
  font-size: 18px;
  line-height: 21px;
  color: var(--additional-text-color-charcoal);
}


/* Footer Section */

.main-footer{
  width: 1200px;
  min-height: 120px;
  display: flex;
}

.footer-layout{
  margin: 40px auto 30px auto;
  width: 1060px;
  display: flex;
  justify-content: space-between;
}

.footer-contacts-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 142px;
  align-self: stretch;
  margin-right: 195px;
}

.footer-contacts-item{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 47px;
}

.footer-contacts-links{
  text-decoration: none;
  color: var(--basic-text-color-black);
  padding: 13px 10px;
}

.footer-contacts-item:nth-child(2) a{
  padding: 13px 13px;
}

.footer-link-icons{
  fill: #83B3D3;
}

.footer-link-icons:hover,
.footer-link-icons:focus{
  fill: var(--button-blue-hover-color);
}

.footer-link-icons:active{
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts-author{
    font-style: normal;
    display: flex;
    justify-content: space-between;
}

.footer-contacts-phone{
  font-size: 40px;
  min-width: 332px;
  line-height: 40px;
  text-decoration: none;
  padding: 5px 0;
  margin-right: 240px;
  color: var(--basic-text-color-black);
}

.footer-contacts-phone:hover,
.footer-contacts-phone:focus{
  color: var(--button-brown-defolt-color);
}

.footer-contacts-phone:active{
  color: rgba(117, 97, 87, 0.3);
}

.footer-contacts-logo{
  padding: 8px 0;
}

.footer-contacts-htmlacademy{
  fill: var(--basic-text-color-black);
}

.footer-contacts-htmlacademy:hover,
.footer-contacts-htmlacademy:focus{
  fill: var(--button-brown-defolt-color);
}

.footer-contacts-htmlacademy:active{
  fill: rgba(117, 97, 87, 0.3);
}
